.dgfood-food-grain-license-payment-web {
}

// track status start

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green-text {
  color: #5bb600;
}

.green-bg {
  background-color: #5bb600 !important;
  color: #ffffff !important;
}

.green-bg:hover {
  background-color: #62992a !important;
  color: #ffffff !important;
}
.button-seceondary {
  background-color: gray !important;
  color: white !important;
}
.button-seceondary:hover {
  background-color: rgb(133, 127, 127) !important;
  color: white !important;
}

a {
  text-decoration: none;
}
