.dgfood-food-grain-license-guidescreen {
}
 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
	.main-div{
	padding:0 90px;
	}
    .green-text {
      color: #5bb600 !important;
    }
    .green-bg {
      background-color: #5bb600 !important;
      color:#ffffff !important ;
    }

    .green-bg:hover {
      background-color:#62992a !important;
      color:#ffffff !important;
    }

a{
  text-decoration: none !important;
}


      @media screen and (max-width: 738px) {
    
      .main-div{
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
      }
      *{
      font-size: 14PX;
      }
      }
  
  
