 .dgfood-food-grain-license-userheader {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: #fff;
}
  .name{
    margin-left: 0px;
    }
.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo img {
    height: 50px;
    border-radius: 50%;
}

.h-icon-circle {
    width: 40px;
    height: 40px;
    background-color: #7cc533;
    margin-right: 10px;
    cursor: pointer;
}

.h-icon-circle i>span {
    font-size: 8px;
    top: 15px;
    margin-left: -10px;
}

.portal-cards {
    margin-left: -130px;
}
@media (min-width:501px) and (max-width:800px) {

    .logo img {
        height: 35px;
    }
.btn .btn-section {
    margin-left: 0px !important;
    line-height: .05 !important;
    font-size: 8px !important;
}
.badge {
    display: inline-block;
 
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
    * {
        font-size: 12px !important;
    }
    .name{
    margin-left: 0px;
    }

    .text14 {
        font-size: 9px;
    }
    .h-icon-circle i>span {
        font-size: 4px;
        top: 5px;
        margin-left: -10px;
    }

    .h-icon-circle {
        width: 20px;
        height: 20px;
        background-color: #7cc533;
        margin-right: 10px;
        cursor: pointer;
    }
}
@media (max-width: 500px) {

    .offcanvas {
        position: fixed;
        bottom: 0;
        z-index: 1050;
        display: flex;
        flex-direction: column;
        max-width: 70% !important;
        max-height: 50% !important;
        visibility: hidden;
        background-color: red;
        background-clip: padding-box;
        outline: 0;
        transition: transform .3s ease-in-out;
    }

    .logo img {
      height: 30px;
    }
.btn .btn-section {
    margin-left: 0px !important;
    line-height: .05 !important;
    font-size: 8px !important;
}
    * {
        font-size: 8px !important;
    }
    .name{
    margin-left: 0px;
    }

    .text14 {
        font-size: 8px;
    }


}


 