.dgfood-food-grain-license-applyNFGL {
}

.main-div{
padding:0 90px;
}
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .green-bg{
      background-color:#5bb600 !important ;
      color:#ffffff !important;
      }
    
    
      .card:hover {
        transition: all 0.5s linear;
        background-color: lightgray;
      }
         .container-width{
      width:80% !important;
      }
      .card-custom {
      height:100% !important;
      }