.dgfood-dealer-registration-application-list-web {
}
.pending-card {
    background-color: #fffcd3 !important;
    color: #ffee00 !important;
}
.rejected-card {
    background-color: #FFC9C9 !important;
    color: #ffee00 !important;
}
.reviewed-card {
    background-color: #98FB98 !important;
    color: #ffee00 !important;
}